In [2]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark=SparkSession.builder.appName("codedbyganesh").getOrCreate()

# Get the SparkContext from the SparkSession
sc=spark.sparkContext

24/06/15 10:41:49 WARN Utils: Your hostname, Ganeshs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.153.137 instead (on interface en0)
24/06/15 10:41:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/15 10:41:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)


## code

In [ ]:

# Create DataFrame
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

In [5]:
df=spark.read.csv("/Users/ganesh/Downloads/airtravel.csv")
df.show()

+-------+----------+----------+
|    _c0|       _c1|       _c2|
+-------+----------+----------+
|flights|      date|passengers|
|flight1|04-03-2016|       360|
|flight1|14-03-2016|       342|
|flight2|14-03-2016|       406|
|flight3|06-03-2016|       396|
|flight4|26-09-2016|       420|
|flight1|09-03-2016|       472|
|flight2|22-09-2016|       548|
|flight3|27-07-2016|       559|
|flight4|08-04-2016|       463|
|flight1|29-12-2016|       407|
|flight2|22-07-2016|       362|
|flight3|15-10-2016|       405|
|flight4|16-05-2016|       420|
|flight1|30-10-2016|       472|
|flight2|04-01-2016|       548|
|flight3|04-01-2016|       559|
|flight4|13-11-2016|       420|
|flight1|01-03-2016|       472|
|flight2|23-09-2016|       548|
+-------+----------+----------+
only showing top 20 rows

In [35]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [9]:
df.createOrReplaceTempView("df")

In [10]:
spark.sql("select * from df").show()

+-------+----------+----------+
|    _c0|       _c1|       _c2|
+-------+----------+----------+
|flights|      date|passengers|
|flight1|04-03-2016|       360|
|flight1|14-03-2016|       342|
|flight2|14-03-2016|       406|
|flight3|06-03-2016|       396|
|flight4|26-09-2016|       420|
|flight1|09-03-2016|       472|
|flight2|22-09-2016|       548|
|flight3|27-07-2016|       559|
|flight4|08-04-2016|       463|
|flight1|29-12-2016|       407|
|flight2|22-07-2016|       362|
|flight3|15-10-2016|       405|
|flight4|16-05-2016|       420|
|flight1|30-10-2016|       472|
|flight2|04-01-2016|       548|
|flight3|04-01-2016|       559|
|flight4|13-11-2016|       420|
|flight1|01-03-2016|       472|
|flight2|23-09-2016|       548|
+-------+----------+----------+
only showing top 20 rows

In [11]:
spark.sql("select _c0,_c1 from df").show()

+-------+----------+
|    _c0|       _c1|
+-------+----------+
|flights|      date|
|flight1|04-03-2016|
|flight1|14-03-2016|
|flight2|14-03-2016|
|flight3|06-03-2016|
|flight4|26-09-2016|
|flight1|09-03-2016|
|flight2|22-09-2016|
|flight3|27-07-2016|
|flight4|08-04-2016|
|flight1|29-12-2016|
|flight2|22-07-2016|
|flight3|15-10-2016|
|flight4|16-05-2016|
|flight1|30-10-2016|
|flight2|04-01-2016|
|flight3|04-01-2016|
|flight4|13-11-2016|
|flight1|01-03-2016|
|flight2|23-09-2016|
+-------+----------+
only showing top 20 rows

In [15]:
spark.sql("select * from df order by _c0").show()

+-------+----------+---+
|    _c0|       _c1|_c2|
+-------+----------+---+
|flight1|04-03-2016|360|
|flight1|14-03-2016|342|
|flight1|09-03-2016|472|
|flight1|29-12-2016|407|
|flight1|30-10-2016|472|
|flight1|01-03-2016|472|
|flight1|20-12-2016|472|
|flight2|14-03-2016|406|
|flight2|22-09-2016|548|
|flight2|22-07-2016|362|
|flight2|04-01-2016|548|
|flight2|23-09-2016|548|
|flight2|26-02-2016|548|
|flight3|06-03-2016|396|
|flight3|27-07-2016|559|
|flight3|15-10-2016|405|
|flight3|04-01-2016|559|
|flight3|22-03-2016|559|
|flight3|01-01-2016|559|
|flight4|26-09-2016|420|
+-------+----------+---+
only showing top 20 rows

In [24]:
spark.sql("select * from df where _c2>450 and _c2<560").show()

+-------+----------+---+
|    _c0|       _c1|_c2|
+-------+----------+---+
|flight1|09-03-2016|472|
|flight2|22-09-2016|548|
|flight3|27-07-2016|559|
|flight4|08-04-2016|463|
|flight1|30-10-2016|472|
|flight2|04-01-2016|548|
|flight3|04-01-2016|559|
|flight1|01-03-2016|472|
|flight2|23-09-2016|548|
|flight3|22-03-2016|559|
|flight1|20-12-2016|472|
|flight2|26-02-2016|548|
|flight3|01-01-2016|559|
+-------+----------+---+

In [29]:
spark.sql("select * from df where _c0 like('flight3%')").show()

+-------+----------+---+
|    _c0|       _c1|_c2|
+-------+----------+---+
|flight3|06-03-2016|396|
|flight3|27-07-2016|559|
|flight3|15-10-2016|405|
|flight3|04-01-2016|559|
|flight3|22-03-2016|559|
|flight3|01-01-2016|559|
+-------+----------+---+

### LIKE Operator in SQL

In [ ]:
spark.sql("select * from df where _c0 like('flight3%')").show() #starting with flight3

In [30]:
spark.sql("select * from df where _c0 like('%3')").show() #ending with 3

+-------+----------+---+
|    _c0|       _c1|_c2|
+-------+----------+---+
|flight3|06-03-2016|396|
|flight3|27-07-2016|559|
|flight3|15-10-2016|405|
|flight3|04-01-2016|559|
|flight3|22-03-2016|559|
|flight3|01-01-2016|559|
+-------+----------+---+

In [32]:
spark.sql("select * from df where _c0 like('%fli%')").show() #contein in middle characters

+-------+----------+----------+
|    _c0|       _c1|       _c2|
+-------+----------+----------+
|flights|      date|passengers|
|flight1|04-03-2016|       360|
|flight1|14-03-2016|       342|
|flight2|14-03-2016|       406|
|flight3|06-03-2016|       396|
|flight4|26-09-2016|       420|
|flight1|09-03-2016|       472|
|flight2|22-09-2016|       548|
|flight3|27-07-2016|       559|
|flight4|08-04-2016|       463|
|flight1|29-12-2016|       407|
|flight2|22-07-2016|       362|
|flight3|15-10-2016|       405|
|flight4|16-05-2016|       420|
|flight1|30-10-2016|       472|
|flight2|04-01-2016|       548|
|flight3|04-01-2016|       559|
|flight4|13-11-2016|       420|
|flight1|01-03-2016|       472|
|flight2|23-09-2016|       548|
+-------+----------+----------+
only showing top 20 rows

In [33]:
spark.sql("select * from df where _c0 like('__i%')").show() #contein i at 3rd position

+-------+----------+----------+
|    _c0|       _c1|       _c2|
+-------+----------+----------+
|flights|      date|passengers|
|flight1|04-03-2016|       360|
|flight1|14-03-2016|       342|
|flight2|14-03-2016|       406|
|flight3|06-03-2016|       396|
|flight4|26-09-2016|       420|
|flight1|09-03-2016|       472|
|flight2|22-09-2016|       548|
|flight3|27-07-2016|       559|
|flight4|08-04-2016|       463|
|flight1|29-12-2016|       407|
|flight2|22-07-2016|       362|
|flight3|15-10-2016|       405|
|flight4|16-05-2016|       420|
|flight1|30-10-2016|       472|
|flight2|04-01-2016|       548|
|flight3|04-01-2016|       559|
|flight4|13-11-2016|       420|
|flight1|01-03-2016|       472|
|flight2|23-09-2016|       548|
+-------+----------+----------+
only showing top 20 rows

In [34]:
spark.sql("select * from df where _c2 like('%55%')").show() #contein 55 twice in column content

+-------+----------+---+
|    _c0|       _c1|_c2|
+-------+----------+---+
|flight3|27-07-2016|559|
|flight3|04-01-2016|559|
|flight3|22-03-2016|559|
|flight3|01-01-2016|559|
+-------+----------+---+

### Not Like Operator

In [37]:
spark.sql("select * from df where _c0 not like('%l')").show()

+-------+----------+----------+
|    _c0|       _c1|       _c2|
+-------+----------+----------+
|flights|      date|passengers|
|flight1|04-03-2016|       360|
|flight1|14-03-2016|       342|
|flight2|14-03-2016|       406|
|flight3|06-03-2016|       396|
|flight4|26-09-2016|       420|
|flight1|09-03-2016|       472|
|flight2|22-09-2016|       548|
|flight3|27-07-2016|       559|
|flight4|08-04-2016|       463|
|flight1|29-12-2016|       407|
|flight2|22-07-2016|       362|
|flight3|15-10-2016|       405|
|flight4|16-05-2016|       420|
|flight1|30-10-2016|       472|
|flight2|04-01-2016|       548|
|flight3|04-01-2016|       559|
|flight4|13-11-2016|       420|
|flight1|01-03-2016|       472|
|flight2|23-09-2016|       548|
+-------+----------+----------+
only showing top 20 rows